<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Skin Cancer Classification</title>

    <script>
        function handleFormSubmit(event) {
            event.preventDefault();

            const form = document.getElementById('uploadForm');
            const formData = new FormData(form);

            fetch('/predict', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                const resultDiv = document.getElementById('result');
                if (data.error) {
                    resultDiv.textContent = `Error: ${data.error}`;
                } else {
                    resultDiv.textContent = `Predicted Class: ${data.class}`;
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
</head>

<body>
    <h1>Skin Cancer Classification</h1>
    <form id="uploadForm" onsubmit="handleFormSubmit(event)">
        <input type="file" name="file" required>
        <input type="submit" value="Upload and Predict">
    </form>
    <div id="result"></div>
</body>
</html>
